/* ------------------------------------ *\
  # APPOINTMENT
\* ------------------------------------ */

.c-appointment {
  align-items: center;
  background-color: var(--color-brand-primary-light);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0 0 0 / 0.2);
  grid-row-gap: var(--global-spacing-unit-tiny);
  grid-template-columns: 4.5rem auto;
  padding: var(--global-spacing-unit-large);
}

  .c-appointment__label {
    font-weight: bold;
  }

  .c-appointment__textarea {
    height: 20vh;
    padding: 0.5em;
    resize: vertical;
  }

@media (min-width: 30em) {
  .c-appointment-list {
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  }
}
