/* ------------------------------------ *\
  # APPOINTMENT
\* ------------------------------------ */

.c-appointment {
  padding: var(--global-spacing-unit);
  border-radius: 3px;
}

    .c-appointment__textarea {
      height: 20vh;
      padding: 0.5em;
      resize: vertical;
    }

.c-appointment-list {
  align-items: center;
  display: flex;
}
