/* ------------------------------------ *\
  #PAGE-HEAD
\* ------------------------------------ */

.c-page-head {
  background-color: var(--color-page-header-bg);
  box-shadow: 0 0.2em 0.2em -0.3em rgba(0, 0, 0, 0.5);
  color: var(--color-page-header-text);
}

  .c-page-head__imagotype {
    width: 5em;
  }

    .c-page-head__title {
      margin: 0;
    }

    .c-page-head__title::before {
      border-left: 1px solid var(--color-sunset-orange);
      content: '';
      display: inline-block;
      height: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
