/* ------------------------------------ *\
  #PAGE-HEAD
\* ------------------------------------ */

.c-page-head {
  background-color: var(--color-page-header-bg);
  box-shadow: 0 0.2em 0.2em -0.3em rgba(0, 0, 0, 0.5);
  color: var(--color-page-header-text);
}

  .c-page-head__imagotype {
    width: 5em;
  }
