/* ------------------------------------ *\
  #RESET
\* ------------------------------------ */

body,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
  padding: 0;
}

textarea,
input {
  border: 0;
  border-radius: 0;
}

textarea:focus,
input:focus {
  outline: 0;
}
