/* ------------------------------------ *\
  #LABELS
\* ------------------------------------ */

label {
  cursor: pointer;
  font-size: 0.8em;
  text-transform: capitalize;
}

  label:after {
    content: ':';
  }
