/* ------------------------------------ *\
  # LAYOUT
\* ------------------------------------ */

.o-layout {
  display: grid;
  align-items: center;
  grid-gap: var(--global-spacing-unit);
}

  .o-layout__item {
    display: grid;
    grid-gap: inherit;
  }

  .o-layout__item--form {
    grid-row-gap: var(--global-spacing-unit-tiny);
  }

  .o-layout__item--end {
    justify-self: end;
  }

  .o-layout__item-middle {
    justify-self: center;
  }

  .o-layout__item-start {
    justify-self: start;
  }
  .o-layout__item--vsplit2 {
    grid-template-columns: repeat(2, 1fr);
  }
