/* ------------------------------------ *\
  # WRAPPERS
\* ------------------------------------ */

.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: var(--global-spacing-unit);
  padding-right: var(--global-spacing-unit);
}
