/* ------------------------------------ *\
  #COLORS
\* ------------------------------------ */

:root {
  --color-azureish-white: #ffa69e;
  --color-light-salmon-pink: #e1e5f2;
  --color-maastricht-blue: #022b3a;
  --color-metallic-seaweed: #1f7a8c;
  --color-powder-blue: #afe9dd;
}
