/* ------------------------------------ *\
  #COLORS
\* ------------------------------------ */

:root {
  --color-alert-danger: rgba(238, 100, 100, 0.3);

  --color-brand-primary: #0094c6;
  --color-brand-primary-dark10: #006e93;
  --color-brand-primary-light: #d0ebf4;
  --color-brand-primary-shadow: rgba(0, 148, 198, 0.7);

  --color-brand-secondary: #ee6352;
  --color-brand-secondary-dark10: #e93924;
  --color-brand-secondary-shadow: rgba( 238 99 82 / 0.7);

  --color-azureish-white: #e1e5f2;
  --color-maastricht-blue: #022b3a;
  --color-metallic-seaweed: #1f7a8c;
  --color-powder-blue: #afe9dd;
  --color-sunset-orange: #ee6352;

  --color-grey: #ccc;
  --color-grey-light: #f3f3f3;
  --color-white: #fff;

  /* Reassign literal variables to meaningful ones. */
  --color-page-bg: var(--color-grey-light);

  --color-page-header-bg: var(--color-azureish-white);
  --color-page-header-text: var(--color-maastricht-blue);

  --color-panel-background: transparent;
}
