/* ------------------------------------ *\
  # GLOBAL
\* ------------------------------------ */

/**
 * VARIABLES
 *
 * BASE TYPOGRAPHICAL STYLES AND BASELINE GRID.
 * global-font-size..............calculate: (font-size / 16) * 1em
 * - font-size: 14x.....................................small size
 * - font-size: 16px...................................medium size
 * - font-size: 20px....................................large size
 *
 * global-line-height...........Calculate: line-height / font-size
 * - line-height: 20px..................................small size
 * - line-height: 22px.................................medium size
 * - line-height: 26px..................................large size
 *
 * global-font-family
 *
 * STANDARDISE SOME UI TREATMENTS.
 * global-radius
 * global-transition
 *
 * SPACING-UNIT.
 * global-spacing-unit.....................................default
 */

:root {
  /* BASE TYPOGRAPHICAL STYLES AND BASELINE GRID. */
  --global-font-size: 0.875em;
  --global-line-height: 1.428571429;
  --global-font-family: '-apple-system', 'linkMacSystemFont', 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue';

  /* STANDARDISE SOME UI TREATMENTS. */
  --global-radius: 3px;
  --global-transition: 0.333333333s;

  /* Spacing unit */
  --global-spacing-unit: 1rem;
}

@media (min-width: 48em) {
  :root {
    --global-font-size: 1em;
    --global-line-height: 1.375;
  }
}

@media (min-width: 80em) {
  :root {
    --global-font-size: 1.25em;
    --global-line-height: 1.3;
  }
}
